{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">What organisation do you want to register?</h1>

    

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Search for the organisation
      </h1>
    </legend>
    <span id="dob-hint" class="govuk-hint">Enter the name or UKPRN</span>
  <div class="govuk-form-group">
  <label class="govuk-label" for="width-30">
  
  </label>
  <input class="govuk-input govuk-input--width-30" id="width-30" name="width-30" type="text">

</div><br>
    
      
<a href="" class="govuk-button" style=”float:right” type="submit">Search</a>
  
 
  </fieldset>
</div>
</div>
 
  
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}