{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Why do you need to see or create 
Unique Learner Numbers?
      </h1>
    </legend>
    <span id="nationality-hint" class="govuk-hint">
      If you have dual nationality, select all options that are relevant to you.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          To complete  the school census
        </label>
        <span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Schools and academies only
        </span>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
          The awarding body we work with requires it
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
          To get funding from the Education and Skills Funding Agency
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
To support the Future Digital Inclusion Programme. Funded via Good Things Foundation        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
To get funding from the Northern Ireland European Social Fund Managing Authority        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
Search for learners and their Personal Learning Record        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
Other       </label>
      </div>









    </div>
  </fieldset>
</div>
    
  </fieldset>
</div>



<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    If other - provide more detail
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

 
  </fieldset>
</div>
</div>
 
   <a href="companies-house" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}