{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        How many learner records do you 
expect to view or create this year?</h1>
    </legend><br>
    
  </fieldset>
</div>



<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Enter the figure for this academic year or the next 12 months
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

 
  </fieldset>
</div>
</div>
 
   <a href="super" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}