{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 




<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        UKPRN details
      </h1>
    </legend>
    
    
      <br><span id="changed-name-hint" class="govuk-hint">
      If the details are not correct change them at <a href="https://www.ukrlp.co.uk"target="_blank">www.ukrlp.co.uk</a> </span>


        <br>
      
    
  </fieldset>
</div>


</div>
</div>
 
   <a href="ico" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>
</div>
    
</div>



    

{% endblock %}