// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.tile-group {

  .tile {
    position: relative;
    margin-bottom: 26px;

    .min-height {
      min-height: 82px;
    }

    .min-height-small {
      min-height: 67px;
    }

    .warning-info {
      background-color: govuk-colour("green");
      color: white;
      margin-top: 5px;
      padding: 8px;
      padding-left: 11px;
    }

    .warning-info-2 {
      @extend .warning-info;
      background-color: govuk-colour("white");
      color: black;
      border: 1px solid $govuk-border-colour;
      margin-top: 0;
    }

    .onboarding-info {
      display: none;
      position: absolute;
      top: 135px;
      background-color: rgba($color: govuk-colour("black"), $alpha: .9);
      color: white;
      z-index: 1;
      padding: 15px;

      .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid rgba($color: govuk-colour("black"), $alpha: .9);
        position: absolute;
        top: -15px;
        left: 45%;
      }

      a.close {
        display: block;
        padding: 0;
        text-align: right;
        background-color: initial;
        text-decoration: underline;
        // position: absolute;     
    }

      .govuk-button {
        background-color: govuk-colour("blue");
        box-shadow: 0 2px 0 govuk-colour("white");
        margin-bottom: 0;
        width: 50%;
        z-index: 1;
      }
    }

  }

  a {
    display: block;
    background-color: $govuk-link-colour;
    color: white;
    text-decoration: none;
    padding: 11px;

    .heading {
      color: white;
      margin-bottom: 10px;
    }

    .sub-heading {
      text-decoration: underline;
    }

  }

  a.grey {
    background-color: govuk-colour("light-grey");
    color: $govuk-link-colour;
    border: 1px solid $govuk-border-colour;
    border-bottom: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  a:hover .heading {
    opacity: 0.85;
  }

  a:hover .sub-heading {
    opacity: 0.85;
  }

  a.grey:hover {
    color: govuk-colour("light-blue");
  }

}



@media (max-width: 641px) {

  .tile-group {

    a {
      min-height: auto;
    }

  }

}

.second-group {
  a {
    min-height: auto;
  }
}