{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    

   <h1 class="govuk-fieldset__heading">
        What is your institution reference number?</h1>
    </legend>
    <p>
  Enter your Department of Education institution reference number.
</p>
    
  



<div class="govuk-form-group">
  <label class="govuk-label" for="one-half">
    For example, 1234-567 or IS12
  </label>
  <input class="govuk-input govuk-!-width-one-half" id="one-half" name="one-half" type="text">
</div>

 </fieldset>
</div>
  
</div>
</div>
 
   <a href="lrs" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}