{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Which organisation do you want to register?</h1>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    

    <div class="govuk-inset-text">
  The organisation must have a UKPRN. To have a UKPRN you must be registered with <a href="https://www.ukrlp.co.uk"target="_blank">www.ukrlp.co.uk</a>

</div>
    <span id="dob-hint" class="govuk-hint">Enter the UKPRN</span>
  <div class="govuk-form-group">
  
   <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">&nbsp &nbsp<a href="find2" class="govuk-button" type="submit">Search</a>

</div><br>


 
  </fieldset>
</div>
</div>
 
  
    
</div>


  

{% endblock %}