{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">1 September 2017 - 31 August 2018<br> Question 6 of 9</span>



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  How many staff did you have on flexible contracts? 
</h1>

            
<div class="govuk-inset-text">
  Work this out as a number and percentage of total staff.
</div>
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Total number of staff on flexible contracts
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      % of flexible contract staff of your total staff
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>


  

</fieldset><br><br>


          <a href="seven" class="govuk-button show-continue" style="display: inline;">
      Save and Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}