{% extends "./layout.html" %}


{% block pageTitle %}
Data Collections Transformation Prototype
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Upload a test ILR file</h1>
</div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

       


      <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    <strong>Upload a file</strong>
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>


       <a href="provider-list-created" class="govuk-button">Upload file</a><br>
       <a href="dash2" class="govuk-link">Cancel</a>
  </div>
</div>


{% endblock %}
