{% extends "./layout.html" %}


{% block pageTitle %}
Data Collections Transformation Prototype
{% endblock %}

{% block content %}
<!-- <script src="/public/javascripts/tt.js"></script> -->


<div class="govuk-grid-row flex">

       

    <div class="govuk-grid-column-three-quarters">
            
   
        <div class="information-banner" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
             data-module="error-summary">
          
            <!--<p class="govuk-body"><span id="bannerText" class="govuk-!-font-weight-bold">You are running the current version 1.0.0.0</span>
            </p>-->
        </div>
        <h2 class="govuk-heading-l">Test your ILR submission - FIS
            <span class="govuk-caption-l">2019 to 2020</span>
        </h2>
        <div class="govuk-error-summary blue" aria-labelledby="#" role="#" tabindex="-1" data-module="#">
  <h2 class="govuk-error-summary__body" id="error-summary-title">
    You are using the latest version 1.0.0.0
  </h2>
  <div class="govuk-error-summary__body">
    
  </div>
</div>



      <div class="govuk-form-group">
  <label class="govuk-label" for="file-upload-1">
    <strong>Import or upload??? an XML or zip file</strong>
  </label>
  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>


       <a href="#" class="govuk-button">Upload file</a><br>
       <a href="dash2" class="govuk-link">Cancel</a>
  

            

        

        
    </div>

    
    <!-- <div class="govuk-grid-column-one-quarter">
        
    </div> -->
</div>


<div class="govuk-grid-row">
        <br>
        <br>
        <div class="govuk-grid-column-one-quarter">
                
        </div>
    
        <div class="govuk-grid-column-three-quarters">
                
        </div>

        
    </div>


<script>

</script>

{% endblock %}
