{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  

{% endblock %}

{% block content %}


        <div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <span class="govuk-caption-xl">1 September 2017 - 31 August 2018<br> Question 3 of 9</span>



  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
          <div class="govuk-form-group">

            <h1 class="govuk-heading-xl">
  Staff totals - male and female
</h1>

            
<div class="govuk-inset-text">
  Include staff on flexible contracts but exclude agency workers.
</div>
  

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Management - male
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>
<div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Management - female
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Teaching - male
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Teaching - female
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Support - male
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Support - female
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

<br>

  <div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Total - male</strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>
  <div class="govuk-form-group">
    <div class="govuk-form-group">
    <label class="govuk-label" for="#"><strong>
      Total - female </strong>
    </label>
    <input class="govuk-input govuk-input--width-10" id="" name="" type="text">
  </div>

</fieldset><br><br>


          <a href="four" class="govuk-button show-continue" style="display: inline;">
      Save and Continue
    </a>
       
      </div>
    </div>
  </main>
</div>


{% endblock %}