{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="#" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    

    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Why do you need to view the 
Personal Learner Record?
      </h1>
    </legend><br>
    <span id="nationality-hint" class="govuk-hint">
      Select all options that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
To support careers advice and guidance        </label>
        <!--<span id="nationality-item-hint" class="govuk-hint govuk-checkboxes__hint">
          Message
        </span>-->
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
          To support funding rules and eligibility of prospective learners
        </label>
      </div>
      

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
To identify the correct learner record or Unique Learner Number      </label>
      </div>



      

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
        <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
Other      </label>
      </div>


    </div>
  </fieldset>
</div>
    
  </fieldset>
</div>
 
</div>
</div>
 
   <a href="quantity" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}