{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


    

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds"> 


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Who is applying for access?</h1>
    </legend>
    
  <br>

  
  <div class="govuk-inset-text">
  Enter your details so we can tell you the status of your application.
</div>
  

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    First name
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Last name
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Phone number
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Mobile number
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Email
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Email confirmation
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Staff ID
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>

 
  </fieldset>
</div>


</div>
</div>
 
   <a href="super-yes" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
    
</div>

</div>
        </div>
  </div>
</div>

    
</div>



    

{% endblock %}