
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Application to register for the Learning Records Service
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      

     

      <h2 class="govuk-heading-m">First try</h2>


      <p>Start - <a href="prototypes/one/start">Form one</a></p><br>

      <p>Second - <a href="prototypes/two/start">Form two</a></p><br>

      <p>Greg's new question - <a href="prototypes/new-flow/start">Why questions flow</a></p><br>

      <p>State funded school or academy - <a href="prototypes/school/start">School flow</a></p><br>

      <p>Higher Education - Independant Training Provider - Local Authority - <a href="prototypes/he-itp/start">ITP flow</a></p><br>

      <p>Charity flow with back buttons and prototype banner - <a href="prototypes/charity/start">Charity flow</a></p><br>

      <p>Charity 2 flow with changes inspired by Lukes comments- <a href="prototypes/charity2/start">Charity flow</a></p><br>


      
      

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
